<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">Dashboard</h4>
      <span>Datos a analizar</span>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-md-8 col-lg-8 col-sm-12">
    <div class="white-box">
      <h3>Eventos Durante 2017</h3>
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="white-box">
        <h3>Asistentes vs Interesados 2017</h3>
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="white-box">
        <div class="bar-widget">
          <div class="table-box">
            <div class="cell text-left">
              <h2 class="m-t-0 m-b-5 font-light counter">{{publicidadActiva}}</h2>
              <h5 class="text-muted m-b-0 m-t-0">Publicidad Activa</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="white-box">
          <div class="bar-widget">
            <div class="table-box">
              <div class="cell text-left">
                <h2 class="m-t-0 m-b-5 font-light counter">{{totalUsuarios}}</h2>
                <h5 class="text-muted m-b-0 m-t-0">Usuarios Activos</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
