<section id="wrapper" class="login-register">
  <div class="login-box">
      <div class="white-box">
          <form id="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="form-horizontal m-t-20">
                  <div class="col-xs-12">
                      <h3>Ingresar</h3>
                      <p class="text-muted">Accede al sistema de administración.</p>
                  </div>

              <div class="form-group ">
                  <div class="col-xs-12">
                      <input ngModel #username="ngModel" class="form-control" id="username" name="username" type="text" required="" placeholder="Usuario">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input ngModel #password="ngModel" class="form-control" id="password" name="password" type="password" required="" placeholder="Clave">
                  </div>
              </div>
              <div class="form-group text-center m-t-40">
                  <div class="col-xs-12">
                      <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Ingresar</button>
                  </div>
              </div>
          </form>
      </div>
      <footer class="footer text-center">
          2017 © Foxy Labs.
      </footer>
  </div>
</section>
