<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">{{titleP}}</h4>
      <span>Administración de {{titleS}}</span>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <p class="m-t-20">
          <button class="btn btn-info waves-effect waves-light" type="button" data-toggle="modal" data-target="#modalCreate">Crear {{titleS}}</button>
      </p>

      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 16%" >
              Filtrar por nombres:
              <input class="form-control" [(ngModel)]="filterQuery"/>
            </th>
          </tr>
          <tr>
            <th style="width: 16%">
              <mfDefaultSorter by="firstname">Nombres</mfDefaultSorter>
            </th>
            <th style="width: 16%">
              <mfDefaultSorter by="lastname">Apellidos</mfDefaultSorter>
            </th>
            <th style="width: 16%">
              <mfDefaultSorter by="username">Usuario</mfDefaultSorter>
            </th>
            <th style="width: 16%">
              <mfDefaultSorter by="email">Correo</mfDefaultSorter>
            </th>
            <th style="width: 16%">
              <mfDefaultSorter by="phone">Télefono</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="any">Acciones</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>
                <button (click)="showEdit(item)" type="button" class="btn btn-default">Editar</button>
                <button (click)="showDelete(item)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>

      <!--
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Télefono</th>
            <th class="action-cell">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of data">
            <td>{{ object.firstname }}</td>
            <td>{{ object.lastname }}</td>
            <td>{{ object.username }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.phone }}</td>
            <td>
                <button (click)="showEdit(object)" type="button" class="btn btn-default">Editar</button>
                <button (click)="showDelete(object)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      -->
    </div>
  </div>
</div>

<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalCreateLabel">Nuevo {{titleS}}</h4>
      </div>
      <form id="formCreate" #formCreate="ngForm" (ngSubmit)="create(formCreate)">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Nombres:</label>
                <input type="text" ngModel #firstname="ngModel" name="firstname" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Apellidos:</label>
                <input type="text" ngModel #lastname="ngModel" name="lastname" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Correo:</label>
                <input type="text" ngModel #email="ngModel" name="email" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Usuario:</label>
                <input type="text" ngModel #username="ngModel" name="username" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Teléfono:</label>
                <input type="text" ngModel #phone="ngModel" name="phone" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Clave:</label>
                <input type="password" ngModel #password="ngModel" name="password" class="form-control">
                <input type="hidden" ngModel #admin="ngModel" name="admin" class="form-control" [(ngModel)]="dAdmin">
                <input type="hidden" ngModel #onesignalid="ngModel" name="one_signal_id" class="form-control" [(ngModel)]="dOS">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Crear {{titleS}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalEditLabel">Nuevo {{titleS}}</h4>
      </div>
      <form id="formEdit" #formEdit="ngForm" (ngSubmit)="updateData(formEdit)">
        <div class="modal-body" *ngIf="dataSelect">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Nombres:</label>
                <input type="text" ngModel #firstname="ngModel" name="firstname" [(ngModel)]="dataSelect.firstname" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Apellidos:</label>
                <input type="text" ngModel #lastname="ngModel" name="lastname" [(ngModel)]="dataSelect.lastname" class="form-control">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Correo:</label>
                <input type="text" ngModel #email="ngModel" name="email" [(ngModel)]="dataSelect.email" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Usuario:</label>
                <input type="text" ngModel #username="ngModel"[(ngModel)]="dataSelect.username" name="username" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Teléfono:</label>
                <input type="text" ngModel #phone="ngModel" name="phone" [(ngModel)]="dataSelect.phone" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Editar {{titleS}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDeleteLabel">Eliminar {{titleS}}</h4>
      </div>
      <form (ngSubmit)="deleteData()">
        <div class="modal-body">
          <h3>¿Esta seguro de eliminar el {{titleS}}?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Eliminar {{titleS}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
