<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
      <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
          <div class="top-left-part">
              <a class="logo" href="index.html"><b><img src="../assets/images/maple-icon.png" alt="Home"></b><span class="hidden-xs"><img src="../assets/images/maple-admin.png" alt="Home"></span></a>
          </div>
          <ul class="nav navbar-top-links navbar-right pull-right">
              <li class="dropdown">
                  <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><b class="hidden-xs">{{fullname}}</b> </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
      </div>
      <!-- /.navbar-header -->
      <!-- /.navbar-top-links -->
      <!-- /.navbar-static-side -->
  </nav>
  <div class="navbar-default sidebar nicescroll" role="navigation">
      <div class="sidebar-nav navbar-collapse ">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                  <div class="input-group custom-search-form">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                      </span>
                    </div>
                  <!-- /input-group -->
              </li>
              <li class="nav-small-cap">Menu Principal</li>
              <li routerLinkActive="active"> <a [routerLink]="['dashboard']" class="waves-effect"><i class="icon-speedometer fa-fw"></i> Dashboard</a></li>
              <li routerLinkActive="active"> <a [routerLink]="['users']" class="waves-effect"><i class="icon-people fa-fw"></i> Usuarios</a></li>
              <li routerLinkActive="active"> <a [routerLink]="['advertising']" class="waves-effect"><i class="icon-layers fa-fw"></i> Publicidad</a></li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
  <!-- Page Content -->
  <div id="page-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
  <footer class="footer text-center"> 2017 &copy; Develop by foxylabs.gt </footer>
</div>
