<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">{{titleP}}</h4>
      <span>Administración de {{titleS}}</span>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <p class="m-t-20">
          <button class="btn btn-info waves-effect waves-light" type="button" data-toggle="modal" data-target="#modalCreate">Crear {{titleS}}</button>
      </p>
      <table class="table table-striped" [mfData]="data | dataFilterAdvertisings : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 16%" >
              Filtrar por Cliente:
              <input class="form-control" [(ngModel)]="filterQuery"/>
            </th>
          </tr>
          <tr>
            <th style="width: 20%">
              <mfDefaultSorter by="firstname">Cliente</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="lastname">Lugar</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="username">Inicio</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="email">Fin</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="any">Acciones</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.client}}</td>
            <td>{{item.place}}</td>
            <td>{{item.begin}}</td>
            <td>{{item.end}}</td>
            <td>
                <button (click)="showEdit(item)" type="button" class="btn btn-default">Editar</button>
                <button (click)="showDelete(item)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modalCreateLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalCreateLabel">Nuevo {{titleS}}</h4>
      </div>
      <form id="formCreate" #formCreate="ngForm" (ngSubmit)="create(formCreate)">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Lugar:</label>
                <input type="text" ngModel #place="ngModel" name="place" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Cliente:</label>
                <input type="text" ngModel #client="ngModel" name="client" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Descripción:</label>
                <input type="text" ngModel #description="ngModel" name="description" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Foto:</label>
                <input type="text" ngModel #picture="ngModel" name="picture" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-12">Rango Fechas</label>
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-daterange input-group" id="date-range">
                  <input type="text" ngModel #begin="ngModel" name="begin" class="form-control">
                  <span class="input-group-addon bg-info b-0 text-white">al</span>
                  <input type="text" ngModel #end="ngModel" name="end" class="form-control">
                </div>
                <input type="hidden" ngModel #state="ngModel" name="state" class="form-control" [(ngModel)]="dState">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Crear {{titleS}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalEditLabel">Editar {{titleS}}</h4>
      </div>
      <form id="formEdit" #formEdit="ngForm" (ngSubmit)="updateData(formEdit)">
        <div class="modal-body" *ngIf="dataSelect">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Lugar:</label>
                <input type="text" ngModel #place="ngModel" name="place" [(ngModel)]="dataSelect.place" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Cliente:</label>
                <input type="text" ngModel #client="ngModel" name="client" [(ngModel)]="dataSelect.client" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Descripción:</label>
                <input type="text" ngModel #description="ngModel" name="description" [(ngModel)]="dataSelect.description" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="control-label">Foto:</label>
                <input type="text" ngModel #picture="ngModel" name="picture" [(ngModel)]="dataSelect.picture" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-12">Rango Fechas</label>
            <div class="col-sm-12">
              <div class="input-daterange input-group" id="date-range">
                  <input type="text" class="form-control" ngModel #begin="ngModel" [(ngModel)]="dataSelect.begin"  name="begin">
                  <span class="input-group-addon bg-info b-0 text-white">al</span>
                  <input type="text" class="form-control" ngModel #end="ngModel" [(ngModel)]="dataSelect.end"  name="end">
              </div>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Editar {{titleS}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalDeleteLabel">Eliminar {{titleS}}</h4>
        </div>
        <form (ngSubmit)="deleteData()">
          <div class="modal-body">
            <h3>¿Esta seguro de eliminar el {{titleS}}?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Eliminar {{titleS}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
